 
@using PostGISWeb.PostgreSQL
@model List<GisMap>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome to PostGIS + OpenLayters application</p>
</div>
